<md-toolbar class="fixed-header">
	<div (click)="sidenav.open()" class="sideNavMenu"><i class="material-icons md-18">menu</i></div><span>Menu</span>
	<div class="logoWrapper"><img src="assets/images/logo.svg" class="logo"></div>
	<div class="lgNav">
		<div><a routerLink="/list">Equipment Search</a></div>
		<div><a routerLink="/userlist">Manage My Equipment</a></div>
		<div><a routerLink="/rentals">My Rentals</a></div>
		<div><a (click)="logOut()">Log Out</a></div>
	</div>

</md-toolbar>

<md-sidenav-container class="navWrapper">
	<md-sidenav #sidenav class="sideNav">
			<div><a routerLink="/list">Equipment Search</a></div>
			<div><a routerLink="/userlist">Manage My Equipment</a></div>
			<div><a routerLink="/rentals">My Rentals</a></div>
			<div><a (click)="logOut()">Log Out</a></div>
		</md-sidenav>
	<div>
		<h2 align="center">My Rentals</h2>
		<!-- <input placeholder="Search equipment near you">
		<button>Filter</button> -->
	</div>
	<div  *ngFor="let info of rental_info">
		<div class="myItem">
				<div class="gearWrapper">
					<span class="itemName myItemName">{{info.equipment.model}} {{info.equipment.brand}}<br /> {{info.equipment.equip_type}}</span>
					<img src="{{info.equipment.equip_img}}" class="gearImg">
				</div>
				<div class="gearDetails">
					<div class="statusSwitch">
						<p>Countdown</p>
						<h1>00:00</h1>
					</div>
					<div class="btnWrapper">
						<a (click)="updateRental(info)" class="completeBtn">Complete Rental</a>
					</div>
				</div>
			</div>
			<hr class="line">
	</div>
</md-sidenav-container>
