* {
	// border: 1px solid grey;
}

.gearWrapper {
	margin-top: 0;
}

.item {
	display: flex;
	flex-direction: column;
  	background: #efefef;
  	padding: 20px 10px;
  	border-bottom: 1px solid rgba(65, 64, 66, 0.5);
}

.imgWrapper {
	text-align: center;
}

.rent {
	text-align: center;
}

.btnWrapper {
	margin-top: 20px;
}

.rentBtn {
	-webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 2px;
  border-width: 1px;
  color: #414042;
  border-color: #414042;
  font-size: 15px;
  font-weight: 700;
  background: #feff4e;
  text-decoration: none;
  padding: 10px 50px;
  margin: 30px 0;
  text-align: center;
}

.rentBtn:hover {
  background: #ebe250;
  text-decoration: none;
}
