<md-toolbar class="fixed-header">
	<div (click)="sidenav.open()" class="sideNavMenu"><i class="material-icons md-18">menu</i></div><span>Menu</span>
	<div class="logoWrapper"><img src="assets/images/logo.svg" class="logo"></div>
	<div class="lgNav">
		<div><a routerLink="/list">Equipment Search</a></div>
		<div><a routerLink="/userlist">Manage My Equipment</a></div>
		<div><a routerLink="/rentals">My Rentals</a></div>
		<div><a (click)="logOut()">Log Out</a></div>
	</div>

</md-toolbar>

<md-sidenav-container class="navWrapper">
	
		<md-sidenav #sidenav class="sideNav">
			<div><a routerLink="/list">Equipment Search</a></div>
			<div><a routerLink="/userlist">Manage My Equipment</a></div>
			<div><a routerLink="/rentals">My Rentals</a></div>
			<div><a (click)="logOut()">Log Out</a></div>
		</md-sidenav>
		<div class="detailWrapper">
			<h2>Edit Gear</h2>
			<div class="imgWrapper">
				<img src="{{equipment.equip_img}}" class="gearImg">
			</div>
			<div class="editDetails">
				<input [(ngModel)]="equipment.equip_img" placeholder="Equipment image URL"/><br /><br />
				<input [(ngModel)]="equipment.category" placeholder="Equipment Category"/><br /><br />
				<input [(ngModel)]="equipment.equip_type" placeholder="Equipment type"/><br /><br />
				<input [(ngModel)]="equipment.brand" placeholder="Brand"/><br /><br />
				<input [(ngModel)]="equipment.model" placeholder="Model"/><br /><br />
				<input [(ngModel)]="equipment.hourly_rental_price" placeholder="Rental price per hour"/><br /><br />
				<input [(ngModel)]="equipment.daily_rental_price" placeholder="Rental price for 24 hours"/><br /><br />
				<input [(ngModel)]="equipment.user_id" type="hidden"	/>
				<textarea [(ngModel)]="equipment.description" placeholder="Description"></textarea><br /><br />
			</div>
			<div class="btnWrapper">
				<a (click)="patchEquipment()" class="saveBtn">Save Changes</a>
			</div>
			<div class="btnWrapper goBack">
				<a routerLink="/userlist">cancel</a>
			</div>
		</div>

</md-sidenav-container>
